<div id="container">
<form>
    <div class="form-group" class="col-md-6 mb-3">
      <label for="exampleInputEmail1" >Payment Method</label>
     <select name="" id="" class="form-control" id="card" >
         <option>Visa</option>
         <option>Mastercard</option>
         <option>PayPal</option>
         <option>American Express</option>
         <option>Discover</option>
     </select>
    </div>
    <div class="col-md-6 mb-3">
        <label for="exampleInputPassword1" id="cardnumber">Card number</label>
        <input type="text" class="form-control" id="exampleInputPassword1" id="cardnumber">
    </div>
<div id="flex" class="col-md-6 mb-3">
   <div>
    <label for="exampleInputPassword1" id="month">Expiration Date</label>
    <select name="" id="month" class="form-control">
        <option>--</option>
        <option>01</option>
        <option>02</option>
        <option>03</option>
        <option>04</option>
        <option>05</option>
        <option>06</option>
        <option>07</option>
        <option>08</option>
        <option>09</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
    </select>
</div>
<div>
    <label for="exampleInputPassword1"></label>
    <select name="" id="year" class="form-control">
        <option>----</option>
        <option>2023</option>
        <option>2024</option>
        <option>2025</option>
        <option>2026</option>
        <option>2027</option>
        <option>2028</option>
        <option>2029</option>
        <option>2030</option>
        <option>2031</option>
        <option>2032</option>
        <option>2033</option>
        <option>2034</option>
    </select>
</div>
</div>
<br/>
<div class="col-md-6 mb-3">
  <label for="validationDefault03" id="city">Security Code</label>
  <input type="text" class="form-control" id="validationDefault03"  required id="city">
</div>
<div class="form-row">
    <p>Delivery Location:</p>
    <div class="col-md-6 mb-3">
      <label for="validationDefault03" id="city" >City</label>
      <input type="text" class="form-control" id="validationDefault03"  required id="city" >
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationDefault04" id="state">State/Province</label>
      <input type="text" class="form-control" id="validationDefault04" required id="state">
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationDefault05" id="zip">Zip</label>
      <input type="text" class="form-control" id="validationDefault05"  required id="zip">
    </div>

    <div class="col-md-6 mb-3">
        <label for="validationDefault04" id="country">Country</label>
        <input type="text" class="form-control"  required  id="country"> 
      </div>
      <div class="col-md-6 mb-3">
        <label for="validationDefault05" id="phone">Phone Number</label>
        <input type="tel" class="form-control"   id="phone">
      </div>

  </div>

    <button type="submit" class="btn btn-primary" (click)="redirectToEnd()">Submit</button>
  </form>
  </div>>