<div id="demo{{activeProduct.activeProductsId}}" *ngIf="isActiveProductDefined()" class="container">
  <div *ngIf="isProductDefined()" class="row">
    <div class="col-3">
      <a routerLink="/product/{{ product.productId }}">
        <img
          class="product-image"
          alt="{{ product.name }}"
          src="./assets/product-images/{{ product.image }}"
        />
      </a>
    </div>
    <div class="col-4">
      <a class="product-name" routerLink="/product/{{ product.productId }}">{{
        product.name
      }}</a>
      <div class="product-price">${{ product.price }}</div>
    </div>
    <div class="col-3">
      <form name="quantityForm">
        <label for="quantity">Quantity</label>
        <input
          type="number"
          name="quantity"
          class="form-control quantity-nput"
          [(ngModel)]="activeProduct.quantity"
          (input)="updateQuantity()"
          min="1"
        />
        <!-- TODO add a remove button -->
        <!-- TODO don't allow empty value -->
      </form>
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-success" (click)="deleteProduct()">
        {{ buttonMessage }}
      </button>
    </div>
    <div class="col-2">
      ${{ product.price * activeProduct.quantity }}
    </div>
  </div>
</div>